<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</head>

<body>
    <header>
        <div th:insert="fragments/cabecera::cabecera"></div>
    </header>
    <center>
        <form>
            <!-- Nombre-->
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Su nombre">
                <small id="nombreHelp" class="form-text text-muted"> Indique su nombre completo</small>
            </div>
            <!-- Apellido -->
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" aria-describedby="apellido"
                    placeholder="Su apellido">
                <small id="nombreHelp" class="form-text text-muted"> Indique su apellido</small>
            </div>
            <!-- Dni-->
            <div class="form-group">
                <label for="dni">dni</label>
                <input type="text" class="form-control" id="dni" aria-describedby="dni" placeholder="Su dni">
                <small id="nombreHelp" class="form-text text-muted"> Indique su dni XXXXXXXXL</small>
            </div>
            <!-- Edad-->
            <div class="form-group">
                <label for="edad">edad</label>
                <input type="number" class="form-control" id="edad" aria-describedby="edad" placeholder="Su edad">
            </div>
            <!-- Email-->
            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" aria-describedby="dni" placeholder="Su Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <!-- Seguro-->
            <div class="form-group">
                <label for="seguro">seguro</label>
                <input type="text" class="form-control" id="seguro" aria-describedby="seguro" placeholder="Seguro">
            </div>
            <!-- Num poliza-->
            <div class="form-group">
                <label for="poliza">Num Poliza</label>
                <input type="number" class="form-control" id="" aria-describedby="poliza" placeholder="Numero de Poliza">
            </div>
            <button type="submit" class="btn btn-primary" th:action="@{/login}">Volver a Login</button>
        </form>
    </center>
</body>
<br>
<br>
<footer>
    <center>
        <div th:insert="fragments/footer::footer"></div>
    </center>
</footer>

</html>